{% extends "base.html" %}
{% block content %}
<h1 data-i18n="hotels.title">Hotel Reservations</h1>
<form id="hotelSearchForm">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="destination" data-i18n="hotels.destination">Destination</label>
            <input type="text" class="form-control" id="destination" placeholder="e.g., Paris, New York">
        </div>
        <div class="form-group col-md-3">
            <label for="checkin" data-i18n="hotels.checkin">Check-in Date</label>
            <input type="date" class="form-control" id="checkin">
        </div>
        <div class="form-group col-md-3">
            <label for="checkout" data-i18n="hotels.checkout">Check-out Date</label>
            <input type="date" class="form-control" id="checkout">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" data-i18n="hotels.search">Search</button>
</form>
<hr>
<div id="hotelListings">
    {% for hotel in hotels %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{ hotel.name }}</h5>
            <p class="card-text">
                {% for i in range(hotel.rating) %}
                ★
                {% endfor %}
                {% if hotel.rating < 5 %}
                {% for i in range(5 - hotel.rating) %}
                ☆
                {% endfor %}
                {% endif %}
            </p>
            <a href="#" class="btn btn-success" data-i18n="hotels.book">Book Now</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
